<?xml version="1.0" encoding="UTF-8"?>
<launch>

  
<!--<param name="robot_description" command="$(find xacro)/xacro.py '$(find mybot_description)/urdf/mybot.xacro'"/>-->

 <!-- <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
   args="-urdf -param robot_description -model mybot" />-->


  <include file="$(find gazebo_ros)/launch/empty_world.launch">
   <!--<arg name="world_name" value="$(find mybot_description)/worlds/ball.world"/>-->
    <arg name="world_name" value="$(find mybot_gazebo)/worlds/challenge-world-test-redballaroundcorner"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

<arg name="model" default="$(find mybot_description)/urdf/robot_model/bot.urdf.xacro"/>
  <arg name="x_pos" default="0.05"/>
  <arg name="y_pos" default="6.5"/>
  <arg name="z_pos" default="0.5"/>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model robot -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />

  <rosparam file="$(find mybot_description)/config/control.yaml" command="load"/>

 <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/mybot" args="slider_position_controller
					arm_position_controller
					holder_position_controller
					 joint_state_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/mybot/joint_states" />
  </node>


  <!--<node pkg="mybot_description" name="ball_control" type="ball_control.py" output = 'screen'/>-->



  


</launch>
