<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- Below are configurations of the navigation stack -->

  <!-- Map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find mybot_control)/maps/map.yaml">
  </node>


  <!-- AMCL -->
    <include file="$(find amcl)/examples/amcl_omni.launch" />


  <!-- move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base">


    <rosparam file="$(find mybot_nav)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find mybot_nav)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find mybot_nav)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find mybot_nav)/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find mybot_nav)/param/base_local_planner_params.yaml" command="load" />

  </node>

</launch>
